<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/styles.css" rel="stylesheet">

</head>
<body>
    <h1>
        FILTERED WORKERS
    </h1>
    <ul>
        <a href="/homePageAdmin/admin">back to home page</a>

        <% for (w of workers) { %>
            <h5>user Id: <%= w.userId %> </h5>
            <h5>first Name: <%= w.firstName %> </h5>
            <h5>sure Name: <%= w.sureName %> </h5>
            <h5>phone: <%= w.phone %> </h5>
            <h5>salary: <%= w.salary %> </h5>
            <h5>rank: <%= w.rank %> </h5>
            <h5>branch id: <%= w.branchId %> </h5>
        <% } %>
    </ul>
</body>
</html>

<!-- id:id,
    firstName:firstname,
    sureName:surename,
    phone:phone,
    salary:salary,
    rank:rank, 
    branchId:branchId,
    joiningDate: joiningdste,
    birthday:birthday  -->